services:
  fastapi:
    build: .
    ports:
      - "5000:5000"
    environment:
      - PYTHONUNBUFFERED=1

  streamlit:
    build: .
    command: ["python", "-m", "streamlit", "run", "src/streamlit_app.py", "--server.port=8501", "--server.address=0.0.0.0"]
    ports:
      - "8501:8501"
    environment:
      - PYTHONUNBUFFERED=1
